@model IEnumerable<ProductionSchedule.Models.Allocation>

@{
    ViewBag.Title = "Production Schedule";
}
@*<p>@Html.ActionLink("Create New", "Create")</p>*@

<div class="container">

@foreach (var item in Model) {
    var hours = String.Format("{0}", item.Hours);
    var cssClass = hours.Replace(".", "");
    <div class="allocation hours-@cssClass">
@*       @Html.ActionLink("Edit", "Edit", new { id=item.AllocationId }) |
        @Html.ActionLink("Details", "Details", new { id=item.AllocationId }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.AllocationId })*@
		<h3>@item.Account</h3>
        <p>@item.Title</p>
		<span class="allocation">@hours</span>	
    </div>
}
</div>